n8n/workflows/notify-Churn-mail.json
{
  "name": "notify-Churn-mail",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "notify-churn",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "97302cd1-fcd4-4709-afd3-85cae14228fb",
      "name": "Webhook",
      "webhookId": "5cc9a539-cce4-4f3f-aa78-9c6da3b29942"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  email,\n  gender,\n  senior_citizen,\n  partner,\n  dependents,\n  tenure,\n  contract,\n  internet_service,\n  monthly_charges\nFROM customers\nWHERE customer_id = '{{$node[\"Webhook\"].json[\"body\"][\"customer_id\"]}}';\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        176,
        0
      ],
      "id": "0fcc7563-88cd-46f5-829d-06b9b19de349",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "229PkfsElxbYVISN",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "42c380c2-aad3-4139-ab75-8b78e6283630",
              "name": "customer_id",
              "value": "={{$node[\"Webhook\"].json[\"body\"][\"customer_id\"]}}\n",
              "type": "string"
            },
            {
              "id": "6ff90a5a-70ce-4c8c-b29b-ff6f3384876e",
              "name": "email",
              "value": "={{$node[\"Execute a SQL query\"].json[\"email\"]}}\n",
              "type": "string"
            },
            {
              "id": "c4c67789-649e-4023-bc5a-858e5ad415f4",
              "name": "llm_context",
              "value": "={{\"Client \" + $node[\"Webhook\"].json[\"body\"][\"customer_id\"] +\", tenure=\" + $node[\"Execute a SQL query\"].json[\"tenure\"] +\", contrat=\" + $node[\"Execute a SQL query\"].json[\"contract\"] +\", internet=\" + $node[\"Execute a SQL query\"].json[\"internet_service\"] +\", charges=\" + $node[\"Execute a SQL query\"].json[\"monthly_charges\"]}}",
              "type": "string"
            },
            {
              "id": "a91dbfb0-6628-40ca-8954-dcdec0874008",
              "name": "token",
              "value": "={{$node[\"Webhook\"].json[\"body\"][\"token\"]}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        320,
        0
      ],
      "id": "1bd4e5b2-6929-43bf-ac2f-5e56dd8104a6",
      "name": "Prepare LLM"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-nano",
          "mode": "list",
          "cachedResultName": "GPT-4.1-NANO"
        },
        "responses": {
          "values": [
            {
              "content": "=Tu es un conseiller relation client dans le secteur des télécommunications.\n\nRédige un email professionnel, clair et naturel, destiné à un client,\nafin de confirmer que son abonnement actuel répond bien à ses besoins.\n\nTu dois utiliser les informations suivantes pour personnaliser le message,\nsans jamais évoquer explicitement une résiliation ou un départ.\n\nContexte client :\n{{$node[\"Prepare LLM\"].json[\"llm_context\"]}}\n\nConsignes de rédaction :\n- Le ton doit être courtois, professionnel et rassurant.\n- Mentionner subtilement que certains éléments de l’abonnement\n  (ancienneté, type de contrat, facturation) justifient cette prise de contact.\n- Expliquer que cette démarche vise à s’assurer que l’offre est toujours adaptée\n  et à proposer un accompagnement si nécessaire.\n- Indiquer clairement que le client est invité à choisir\n  parmi les options présentées ci-dessous pour nous répondre.\n- Ne pas lister ou écrire les options textuellement.\n- Ne jamais utiliser les mots \"churn\", \"résiliation\" ou \"départ\".\n- Ne pas mentionner l’IA ou un modèle.\n- Longueur : 8 à 12 lignes maximum.\n- Terminer impérativement par la phrase exacte :\n  \"Merci de répondre via les boutons ci-dessous.\"\n\nLe résultat attendu est uniquement le contenu de l’email,\nsans titre, sans signature, sans explication.\n"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        496,
        0
      ],
      "id": "248c2a5d-018c-4c01-8557-3b89f9f0cad3",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "YMoCq9D8WHRbttTI",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "600bde56-8df3-400d-9d5a-4998a25e4ae2",
              "name": "ok_url",
              "value": "={{\"http://localhost:5678/webhook/feedback?answer=OK&token=\" + $node[\"Prepare LLM\"].json[\"token\"]}}\n",
              "type": "string"
            },
            {
              "id": "cc944adf-889b-46e3-8b3e-6ee621b59577",
              "name": "contact_url",
              "value": "={{\"http://localhost:5678/webhook/feedback?answer=CONTACT&token=\" + $node[\"Prepare LLM\"].json[\"token\"]}}\n",
              "type": "string"
            },
            {
              "id": "b39f7b2a-d0ae-4b1a-bba1-4b0daa5abf50",
              "name": "email_text",
              "value": "={{$node[\"Message a model\"].json.output[0].content[0].text}}\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        768,
        0
      ],
      "id": "e960090b-8b2e-4fe6-8e2e-709562d328ac",
      "name": "Build Links"
    },
    {
      "parameters": {
        "fromEmail": "noreply@telecom-Grp3.test",
        "toEmail": "=={{$node[\"Prepare LLM\"].json[\"email\"]}}",
        "subject": "Confirmation concernant votre abonnement",
        "html": "=<p>{{$node[\"Build Links\"].json.email_text}}\n</p>\n\n<p><b>Merci de choisir une option :</b></p>\n\n<p>\n  <a href=\"{{ $node[\"Build Links\"].json[\"ok_url\"] }}\">\n    ✅ Tout est OK, je garde mon abonnement\n  </a>\n</p>\n\n<p>\n  <a href=\"{{ $node[\"Build Links\"].json[\"contact_url\"] }}\">\n    📞 Je souhaite être contacté\n  </a>\n</p>\n",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        976,
        0
      ],
      "id": "6e4fb709-cf37-47ff-8025-334b5effe693",
      "name": "Send email",
      "webhookId": "77e44c51-25d6-41aa-8c6c-a1e4ace5934e",
      "credentials": {
        "smtp": {
          "id": "TjwdhjURCgH7GHMA",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "feedback",
          "mode": "list",
          "cachedResultName": "feedback"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "prediction_id": "={{ +$node[\"getPrediction_id\"].json[\"prediction_id\"] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "feedback_id",
              "displayName": "feedback_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "prediction_id",
              "displayName": "prediction_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "answer",
              "displayName": "answer",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "feedback_label",
              "displayName": "feedback_label",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "used_for_training",
              "displayName": "used_for_training",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "sent_at",
              "displayName": "sent_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "answered_at",
              "displayName": "answered_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1392,
        0
      ],
      "id": "a70af06b-9301-4684-8891-66c50c60db6a",
      "name": "Insert rows in a table",
      "credentials": {
        "postgres": {
          "id": "229PkfsElxbYVISN",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "predictions",
          "mode": "list",
          "cachedResultName": "predictions"
        },
        "where": {
          "values": [
            {
              "column": "token",
              "value": "={{$node[\"Webhook\"].json[\"body\"][\"token\"]}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1184,
        0
      ],
      "id": "d1ca3e08-57b1-46e7-a5d0-4e7e595d8629",
      "name": "getPrediction_id",
      "credentials": {
        "postgres": {
          "id": "229PkfsElxbYVISN",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Prepare LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare LLM": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Build Links",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Links": {
      "main": [
        [
          {
            "node": "Send email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send email": {
      "main": [
        [
          {
            "node": "getPrediction_id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "getPrediction_id": {
      "main": [
        [
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "a92192c2-a6fb-44be-be33-d9c5fb1433af",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "63407ebe46cae651faf25ced893bdf39bdd20a1ede7f57c5bb6a55fd71ac0b00"
  },
  "id": "ZORwubpby15X36mp",
  "tags": []
}