n8n/workflows/register-feedback.json
{
  "name": "register-feedback",
  "nodes": [
    {
      "parameters": {
        "path": "feedback",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "95cee37c-3c33-4ae8-a825-3d799b5562e4",
      "name": "Webhook",
      "webhookId": "d82535f5-616a-4ac5-a0ee-7381aef5644d"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://159.65.211.36:8080/feedback",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"token\": \"{{$json.token}}\",\n  \"answer\": \"{{$json.answer}}\",\n  \"feedback_label\": {{$json.feedback_label}},\n  \"source\": \"{{$json.source}}\"\n}\n\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        416,
        0
      ],
      "id": "7cde00ab-f6eb-4649-b3ab-b3730eff06ba",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"token\": \"{{$json.query.token}}\",\n  \"answer\": \"{{ String($json.query.answer ?? '').replace(/=/g,'').trim().toUpperCase() === 'OK' ? 'YES' : 'NO' }}\",\n  \"feedback_label\": {{ String($json.query.answer ?? '').replace(/=/g,'').trim().toUpperCase() === 'OK' ? 0 : 1 }},\n  \"source\": \"n8n\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "5a529336-b9cb-465e-8d0e-6cc67233b91d",
      "name": "Set"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "<!doctype html>\n<html>\n  <head>\n    <meta charset=\"utf-8\" />\n    <title>Merci</title>\n  </head>\n  <body style=\"font-family: Arial; padding: 24px;\">\n    <h2>Merci ✅</h2>\n    <p>Votre réponse a été enregistrée.</p>\n    <p>Vous pouvez fermer cette page.</p>\n  </body>\n</html>\n",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html; charset=utf-8"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        624,
        0
      ],
      "id": "f6b8769c-0c4a-4803-882e-715f60fce55a",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "70c3e331-dd5c-4233-a7da-88582f6efe91",
  "meta": {
    "instanceId": "63407ebe46cae651faf25ced893bdf39bdd20a1ede7f57c5bb6a55fd71ac0b00"
  },
  "id": "sljV5Us0chlezMPD",
  "tags": []
}